*{
  scroll-behavior: smooth;
}
.navbar {
  width: 100%;
}

.content {
  flex: 1;
  width: 100%;
}

.footer {
  margin-top: 40px;
  width: 100%;
}
body {
  font-family: "Satoshi", sans-serif;
  
}

.hero-section {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.045) 0.05rem,
      transparent 0.05rem
    ),
    linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.045) 0.05rem,
      transparent 0.05rem
    );
  background-size: 10rem 10rem;
}

::-webkit-scrollbar {
  display: none;
}

/* Slider CSS */
.row-container {
  display: flex;
  gap: 1rem;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  position: relative;
  padding: 1rem 0.6rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.row-container::-webkit-scrollbar {
  display: none;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
}